.contacts{
    background: url('../../img/back_moon.png') no-repeat;
    background-size: cover;
}

.wrap_three{
    display: block;
    justify-content: center;
}

.wrap_three .img_moon{
    position: relative;
    text-align: center;
    top: -60px
}

.wrap_three .forms{
    display: block;
    background: url("../../img/form.png") no-repeat;
    background-size: cover;
    border-radius: 30px !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrap_three .forms form{

    margin: 15px;
}

.wrap_three .forms input{
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    font-family: 'Roboto Slab',sans-serif;
    font-size: 18px;
    padding-left: 30px;
    background: rgba(196, 196, 196, 0.15);
    border: 1px solid rgba(87, 225, 244, 0.62);
    box-sizing: border-box;
    border-radius: 50px;
}

.wrap_three .forms input[type="text"]::placeholder {
     color: black; 
     font-family: 'Roboto Slab',sans-serif;
     font-size: 18px;
    } 
.wrap_three .forms input[type="email"]::placeholder {
        color: black; 
      
        font-family: 'Roboto Slab',sans-serif;
        font-size: 18px;
       } 

 .wrap_three .forms .input_text{
    max-height: 404px;
    
    height: 100%;
    border-radius: 20px;
}

.wrap_three .forms textarea{
    width: 100%;
    max-height: 404px;
    color: black; 
    font-family: 'Roboto Slab',sans-serif;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    height: 100%;
    padding-left: 30px;
    background: rgba(196, 196, 196, 0.15);
    border: 1px solid rgba(87, 225, 244, 0.62);
    box-sizing: border-box;
    border-radius: 50px;

}

.wrap_three .forms textarea[type="text"]::placeholder {
    color: black; 
    font-family: 'Roboto Slab',sans-serif;
    font-size: 18px;
   } 

   .wrap_three .forms_button{
       text-align: center;
   }
   .wrap_three .btn{
    background:rgba(255, 255, 255, 0.28);
    color: purple;
    margin-bottom: 5px;
	width: 180px;
	padding: 9px 0;
    text-decoration: none;
    font-family: 'Roboto Slab' sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 21px;
    transition: all 0.5s ease;
    border: 2px solid ;
    border-radius: 30px;
    border-color:rgb(0,102,255);
    box-shadow: 0px 4px 4px rgba(89, 192, 190, 0.49);
}