
.nav_left{
  display: flex;
  padding: 0;
}
.nav_right{
  display: flex;
  padding: 0;
}
nav{
  position: relative;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-family: 'Comfortaa', cursive;
}
.navList{
  display: flex;
  justify-content: space-between;
}
.nav_left__list{
  display: flex;
  margin: 0;
  
}
.nav_left__list li{
  padding: 0;
  margin-right: 2%; 
  padding-left: 4em;
  list-style-type: none;
  
}
.nav_left__list li a{
  color:#57E1F4;
  font-size: 18px;
  text-decoration: none;
}

.nav_left__list li a:hover{
  list-style-type: none;
}

.nav_left__list li a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #4963BF;
  box-shadow: 0px 0px 5px rgba(0, 71, 255, 0.73);
  border-radius: 33px;
  height: 2.5px;
  transform: scale(0);
  transition: all .3s;
}

.nav_left__list li a:hover::after{
  transform: scale(1);
}

/*Правый нав*/
.nav_right__list{
  display: flex;
  margin: 0;
  padding: 0;
  
}
.nav_right__list li{
  padding: 0;
  margin-left: 2%;
  margin-right: 20%;
  margin-right: 100px;
  list-style-type: none;
}
.nav_right__list li a{
  color:#57E1F4;
  font-size: 18px;
  text-decoration: none;
}

.nav_right__list li a:hover{
  list-style-type: none;
}

.nav_right__list li a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #4963BF;
  box-shadow: 0px 0px 5px rgba(0, 71, 255, 0.73);
  border-radius: 33px;
  height: 2.5px;
  transform: scale(0);
  transition: all .3s;
}

.nav_right__list li a:hover::after{
  transform: scale(1);
}

/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  .navList{
    display: flex;
    justify-content: space-between;
  }
  .nav_left__list{
    display: inline;
    padding:0;
    margin: 0;
    float: left;
  }
  .nav_left__list li {
  
    padding:0;

   
  }
  
  .nav_right__list{
    display: inline;
    margin-left: 30%;
    
    float: left;
  }
  .nav_right__list li{
    margin-right: 0;
  }
  /* стили */
  }
  
  /* Smartphones (горизонтальная) ----------- */
  @media only screen and (min-width: 321px) and (max-width: 770px)  {
    .navList{
      display: flex;
      justify-content: space-between;
    }
    .nav_left__list{
      display: inline;
      margin: 0;
      float: left;
    }
    
    .nav_right__list{
      display: inline;
      margin: 0;
      float: left;
    }/* стили */
  }
  
  /* Smartphones (вертикальная) ----------- */
  @media only screen and (max-width: 320px ){

    .nav_left__list{
      display: inline;
      margin: 0;
      padding: 0;
      float: left;
    }
    .nav_left__list li{
      display: inline;
      margin: 0;
      padding: 0;
    }
    .nav_right__list{
      display: inline;
      margin: 0;
      float: left;
    }/* стили */
  }
  
  
 /* iPhone 5 ----------- */
 @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2){
  /* стили */
  }
  @media only screen and (min-width: 320px) and (max-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){
    .container .wrap_two .img_two p {
      color: #fff;
      font-family: 'Roboto Slab', sans-serif;
      font-size: 12px;
      line-height: 15px;
      width: auto;
      padding-top: 0;
  }
  .wrap_three .forms textarea {
    max-height: 40px;
    margin-bottom: 0;

}
.wrap_three .forms input {

  max-height: 40px;
 
}
.wrap_three .btn {

  width: 100%;
 
}
.wrap_three .forms_button {
  text-align: none;
  margin-right: 0;
}/* стили */
  }
  