
.nav_left{
  display: flex;
  padding: 0;
}
.nav_right{
  display: flex;
  padding: 0;
}
nav{
  position: relative;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  font-family: 'Roboto Slab' , sans-serif;
}
.navList{
  display: flex;
  justify-content: space-between;
}
.nav_left__list{
  display: flex;
  margin: 0;
  
}
.nav_left__list li{
  padding: 0;
  margin-left: 20%;
  margin-right: 2%; 
  list-style-type: none;
  
}
.nav_left__list li a{
  color:#57E1F4;
  font-size: 18px;
  text-decoration: none;
}

.nav_left__list li a:hover{
  list-style-type: none;
}

.nav_left__list li a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #4963BF;
  box-shadow: 0px 0px 5px rgba(0, 71, 255, 0.73);
  border-radius: 33px;
  height: 2.5px;
  transform: scale(0);
  transition: all .3s;
}

.nav_left__list li a:hover::after{
  transform: scale(1);
}

/*Правый нав*/
.nav_right__list{
  display: flex;
  margin: 0;
  padding: 0;
  
}
.nav_right__list li{
  padding: 0;
  margin-left: 2%;
  margin-right: 20%;
  margin-right: 100px;
  list-style-type: none;
}
.nav_right__list li a{
  color:#57E1F4;
  font-size: 18px;
  text-decoration: none;
}

.nav_right__list li a:hover{
  list-style-type: none;
}

.nav_right__list li a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #4963BF;
  box-shadow: 0px 0px 5px rgba(0, 71, 255, 0.73);
  border-radius: 33px;
  height: 2.5px;
  transform: scale(0);
  transition: all .3s;
}

.nav_right__list li a:hover::after{
  transform: scale(1);
}

@media (max-width: 470px) { 
  .nav_left__list {
    display:inline;
    float: left;
    margin: 0 ;
    padding: 0;
  }
  .nav_left__list li {
    display:inline;
    float: left;
    margin: 0 ;
    padding: 0;
  }
  .nav_right__list  {
    display:inline;
    padding: 0;
  }
  .nav_right__list li {
    display:inline;
    margin: 0;
    padding: 0;
  }
 }

@media (max-width: 576px) { 
  .nav_left__list {
   display: inline;
   float:left;
  }
  .nav_right__list  {
    display: inline;
    margin: 0;

  }
  .nav_right__list li  {
    display: inline;
    margin: 0;

  }
 }


@media (min-width: 768px) {  
.nav_left__list li{
  margin-left: 2%;
  margin-right: 5%; 
}
.nav_right__list {
  margin-left: 2%;
  margin-right: 5%;
}
}
@media (min-width: 992px) {  }

@media (min-width: 1200px) {  

}